<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    <link rel="stylesheet" href="./css/addQuestion.css">
    <!--    <link rel="stylesheet" href="./css/user.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <script src="./js/tinymce/tinymce.min.js"></script>
    </head>

<body>

    <div class="container">
        <div th:replace="~{Sidebar :: navbar}">...</div>

        <!---------------------------- END OF ASIDE----------------------------->
        <main>
            <h1>Add Question in Datatype</h1>
            <div class="date">
                <p id="dateId">Date : </p>
            </div>
            <div class="add-quiz">
                <form th:action="@{/saveQuestion}" method="post" th:object="${question}">


                    <div class="input-container">
                        <textarea class="input-field" placeholder="Enter your Question Here" name="title"
                            id="default"></textarea>
                    </div>
                    <div class="input-container">
                        <textarea value="Enter The Solution of Question" rows="3" class="input-field"
                            type="text" name="solution">No Solution of this Question</textarea>
                        <label for="input-field" class="input-label">Solution</label>
                        <span class="input-highlight"></span>
                    </div>
                    <input type="hidden" th:value="${quizId}" name="quizId">
                    <div>
                        <div class="option">
                            <div class="input-container">
                                <input placeholder="Option-1"  class="input-field inputField" type="text" name="option1">
                                <label for="input-field" class="input-label">Option-1</label>
                                <span class="input-highlight"></span>
                            </div>
                            <div class="input-container">
                                <input placeholder="Option-2"  class="input-field inputField" type="text" name="option2">
                                <label for="input-field" class="input-label">Option-2</label>
                                <span class="input-highlight"></span>
                            </div>   
                            <div class="input-container">
                                <input placeholder="Option-3"    class="input-field inputField" type="text" name="option3">
                                <label for="input-field" class="input-label">Option-3</label>
                                <span class="input-highlight"></span>
                            </div>
                            <div class="input-container">
                                <input placeholder="Option-4"    class="input-field inputField" type="text" name="option4">
                                <label for="input-field" class="input-label">Option-4</label>
                                <span class="input-highlight"></span>
                            </div>                       
                        </div>
                    </div>
                    <div class="select-img">
                        <div class="input-container">
                            <!-- <input placeholder="Sub Category Name" class="input-field" type="text"> -->
                            <select id="selectElement" class="input-field" style="color: #677483;line-height: 20px;" name="answer">
                                <option selected disabled>---Select Answer---</option>
                            </select>
                            <label for="input-field" class="input-label">Select Answer</label>
                            <span class="input-highlight"></span>
                        </div>
                        <div class="input-container">
                            <input type="file" class="input-fie" accept="image/*" id="file" name="file">
                            <label for="file" class="label-photo"><span class="material-symbols-outlined">
                                upload_file
                                </span>&nbsp;&nbsp;&nbsp;Choose a Photo</label>
                            <!-- <span class="input-highlight"></span> -->
                        </div>
                    </div>
                    <div class="btns">
                        <button class="btn-save">Save</button>
                        <input class="btn-reset" type="reset" value="Clear">
                    </div>

                </form>
            </div>
        </main>

        <!-- -------------END OF MAIN--------- -->
        <div class="right">
            <div th:replace="~{top :: top}">...</div>
        </div>

    </div>

    <!-- <script src="./js/orders.js"></script> -->
    <script src="./js/script.js"></script>
   
    <script src="./js/testEditor.js"></script>

</body>

</html>