<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="./css/showQuestion.css">
<!--    <link rel="stylesheet" href="./css/user.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <style>

    </style>

</head>

<body>

    <div class="container">
        <div th:replace="~{Sidebar :: navbar}">...</div>

        <!---------------------------- END OF ASIDE----------------------------->
        <main>
            <h1>Question</h1>
            <div class="date">
                <!-- <input type="date"> -->
                <p id="dateId">Date : </p>
            </div>
            <h2 style="margin-top:15px" th:text="'Quiz Name: ' + ${quiz}"></h2>
<!--            <div class="addQuestion">-->

                <a class="addQuestion" th:href="@{/addQuestion(quizId=${quizId})}">

                  <span class="material-icons-sharp" >add</span>
                    <h3 style="font-size:16px">Add Question</h3>
                </a>
<!--            </div>-->
            <div class="tableFixHead">
                <table style="width: 75vw; margin-top:30px">
                    <thead>
                        <tr>
                            <th>Question Title</th>
                            <th>Publish</th>
                            <th>Created By</th>
                            <th colspan="2">Action</th>
                        </tr>                 
                    </thead>
                    <tbody>
                    <tr th:each="question : ${questions}">
                        <td th:text='${question.title.replaceAll("<[^>]*>", "")}'>What is data type?</td>
                        <td>Publish</td>
                        <td>Admin</td>
                        <td><a href="#" class="edit-btn">Edit</a></td>
                        <td><a href="#" class="view-btn">View</a></td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </main>

        <!-- -------------END OF MAIN--------- -->
        <div class="right">
            <div th:replace="~{top :: top}">...</div>
        </div>

    </div>

    <!-- <script src="./js/orders.js"></script> -->
    <script src="./js/script.js"></script>
</body>

</html>